body {
	background-color: #e9eaed;
}

.comment-wrapper {
	background-color: #f6f7f8;
	width: 45%;
	margin: auto;
}

.comment-list {
	list-style: none;
}

.comment-input {
	width: 75%;
	margin: 2px;
}

.comment-li {
	margin-top: 4px;
}