<h2>Create a new account.</h2>

<form action="/create" method="POST">
	<label>Enter your name</label>
	<input type="text" name="name">

	<label>Enter your email</label>
	<input type="email" name="email">

	<label>Enter your password</label>
	<input type="password" name="password">

	<input type="hidden" name="authenticity_token"
      value="<%= form_authenticity_token %>">
      <button type="submit">Submit</button>
</form>