// Place all the styles related to the concerts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.right-side {
	padding: 5px;
	border: 1px solid #000;
}

.comment-box {
	background-color: #aaa;
}