<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Audio-Video</title>
  </head>
  <body>
    <div>
      <h1>Audio-Video Test</h1>
    </div>

    <div>
      <video class="js-vid" src="http://i.istockimg.com/video_passthrough/66506555/153/66506555.mp4" controls autoplay></video>

      <button class="js-play">Play</button>
      <button class="js-pause">Pause</button>
    </div>

    <div>
      <button class="js-add-vid">Add Video</button>

      <ul class="js-user-vids">

      </ul>
    </div>


    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="av.js"></script>
  </body>
</html>
