<h1>Movie Trivia</h1>

<p>Enter your search term</p>

<form action="/results" method="POST">
	<input type="string" name="search" placeholder="Enter Search Term">

	<button type="submit">Search</button>
</form>