.nav>li>a {
	display: inline-block;
	padding-left: 0px;
	padding-right: 25px;
}

.topmost {
	max-height: 46px;
	background-color: #fff;
}

.profile-pic {
	height: 32px;
	width: 32px;
	border-radius: 5px;
}

.twitter-logo {
	height: 24px;
	width: 21px;
}

.twitter-logo-ul {
	padding-left: 150px;
	padding-top: 10px;
}

.top-right li{
	padding: 5px 0 5px 15px;
}

.search-form {
	border-radius: 20px;
	background-color: #f5f8fa;
}

.tweet-btn {
	border-radius: 5px;
	background-color: #33adad;
	color: #fff;
}

.top-left {
	color: #66757f;
}

.cover-photo {
	width: 100%;
}

.text {
	display: block;
	color: #66757f;
	font-size: 11px;
	text-transform: uppercase;
	line-height: 1;
}

.digits {
	display: block;
	color: #009999;
	font-size: 18px;
	padding-top: 3px;
	font-weight: 500;
	text-align: center;
}

.blocks li {
	padding-right: 25px;
}

.blocks {
	padding-left: 0px;
}

.following-btn {
	background-color: #55acee;
	color : #fff;
	border: 1px solid #3b88c3;
	font-size: 14px;
	font-weight: bold;
}

.middle-row {
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #e1e8ed;
	margin-left: -70px;
	margin-right: -70px;

}

.glyphicon-cog {
	font-size: 18px;
	line-height: 18px;
	padding-right: 10px;
	color: #66757f;
}

.profile-image {
	border-radius: 8px;
	height: 100%;
	width: 100%;
}

.profile-div {
	background: #fff;
	border: 5px solid #fff;
	border-radius: 12px;
	height: 200px;
	width: 200px;
	position: absolute;
	top: -180;
	left: 0;
}

.username {
	line-height: 1;
	font-size: 24px;
	margin: 0;
}

.handle {
	color: #8899a6;
	font-size: 14px;
	font-weight: 400;
	line-height: 1;
	margin-bottom: 10px;
	margin-top: 0px;
}

.description {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	margin-bottom: 10px;
}

.account-details {
	color: #8899a6;
	font-size: 14px;
	line-height: 1;
	margin-top: 6px;
}

.bottom-row {
	position: relative;
}

.content-div {
	margin-top: 25px;
}

.tweet-button-div {
	background-color: #009999;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #fff;
	text-align: center;
	padding: 9px 16px 7px 17px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.tweet-button {
	color: #fff;
	background-color: #009999;
	font-size: 14px;
	font-weight: bold;
	line-height: normal;
}

.people img{
	margin-top: 2px;
	margin-bottom: 2px;
}

.people-you-know {
	color: #009999;
	margin-top: 20px;
	margin-bottom: 10px;
}

.glyphicon-user {
	color: #8899a6;
}

.who-to-follow {
	border: 1px solid black;
}