<h1>Password Checker</h1>

<form action="/login" method="POST">
	<input type="string" name="email" placeholder="your email">
	<input type="password" name="password" placeholder="your password">

	<button type="submit">Check!</button>
</form>