
<h1>Welcome to TODO LIST!</h1>

<h2>Add new task:</h2>

<form action="/create_task" method="POST">
	<input type="string" name="content" placeholder="New task">

	<button type="submit">Create</button>
</form>