<h1>Welcome to my Blog</h1>

<ul>
	<% @new_blog.each_with_index do |post, index| %>
  		<li>
  			<a href="/post_details/<%=index%>"><%= post.title %></a>
  		</li>
	<% end %>
</ul>

<a href="/new_post">Create a new post</a>