<h1>Here are all our products</h1>

<ul>
	<% @products.each do |product| %>
	<li>
		<%= product.user.name %>
		is selling the product:
		<a href="/products/<%= product.id %>"><%= product.title %></a>
	</li>
	<% end %>
</ul>