<h1>Enter Product Details</h1>

<form action="/create_product" method="POST">
	<label>Title</label>
	<input type="text" name="title">

	<label>Description</label>
	<input type="text" name="description">

	<label>Deadline</label>
	<input type="datetime-local" name="deadline">

	<input type="hidden" name="authenticity_token"
      value="<%= form_authenticity_token %>">
	<button type="submit">Submit</button>
</form>