<!DOCTYPE html>
<html lang="en">
<head>
	<title>My Blog</title>
	<meta charset="UTF-8">
</head>
<body>
	<header>
		<h1>Welcome to My Blog</h1>
	</header>
	<section>
		<article>
			<h2>STUFF!</h2>
			<p>This post was published on <%=Time.now%></p>

			<br>

			<h3>This is a post about stuff</h3>
			<p>Stuff is cool. It really is.</p>
			<ul>
				<li>Stuf</li>
				<li>Stuff</li>
				<li>Stufff</li>
			</ul>
			<img src="http://images.electricpig.co.uk/wp-content/uploads/2012/01/internet-stuff.jpg" alt="Image about stuff">
			<p>This post was written by: <a href="https://github.com/FarazPatankar" target="_blank">Faraz Patankar</a></p>
		</article>
	</section>

	<br>

	<section>
		<h4>Comments: </h4>
		<ul>
			<li>I like this post.</li>
			<li>I don't like this post.</li>
		</ul>
	</section>

	<br>

	<section>
		<h4>Add comment: </h4>
		<form>
			<label>Name: <input type="text" placeholder="Your name goes here..."></label>
			<br>
			<label>Email: <input type="email" placeholder="someone@something.com"></label>
			<br>
			<label>Comment: <input type="text" placeholder="Your comment goes here..."></label>
			<br>
			<label>Remember my data <input type="checkbox"></label>
			<br>
			<button type="submit">Submit</button>
		</form>
	</section>
</body>
</html>