<form action="/calculate" method="POST">
<input type="number" name="first_number" placeholder="<%=@stored_result.to_i%>">
<input type="number" name="second_number" placeholder="second number">
<br>
<button type="submit" name="operation" value="add">Add</button>
<button type="submit" name="operation" value="subtract">Subtract</button>
<button type="submit" name="operation" value="divide">Divide</button>
<button type="submit" name="operation" value="multiply">Multiply</button>
</form>