<title>Calculator</title>

<p>Welcome to my calculator</p>
<p>What would you like to do today?</p>

<a href="/add">Add</a>
<a href="/subtract">Subtract</a>
<a href="/multiply">Multiply</a>
<a href="/divide">Divide</a>